# Private String File
Grinnell-Events-iOS/Grinnell-Events-iOS/strings_private.strings
# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.xcuserstate

# Ignore CocoaPods binaries and headers
**/Pods/
